body {
    background-color: #E7DACB;
    text-align: center;
    .navbar {
      background: #21374B;
      color: #E7DACB;
      height: 50px;
    }
    h1 {
      font-size: 40px;
      margin-top: 30px;
    }
  }